<html>
<head>
<title>Results</title>
{{!-- <link href="style.css" rel="stylesheet" type="text/css" /> --}}
<script language="JavaScript">
		function showform(dowhat, sid, did) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
                document.getElementById('update-specID').value = sid;
                document.getElementById('update-dealID').value = did;
                document.getElementById('original-specID').value = sid;
                document.getElementById('original-dealID').value = did;
			}
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
            document.getElementById('delete-specID').value = sid;
            document.getElementById('delete-dealID').value = did;
        }
            else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newResults() { showform('insert'); }
    function updateResults(sid, did) { showform('update', sid, did); }
    function deleteResults(sid, did) { showform('delete', sid, did); }
    function browseResults() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
    <style>
        .button-container {
            display: flex;
            align-items: center;
        }
        .button-container a,
        .button-container form {
            margin-right: 10px;
        }
        .button-container button {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>

<body onload="browseResults()">
<header>
    <h1><a href="/">LaptopSpecsDB</a></h1>
</header>
[ <a href="/specs">Specs</a> | <a href="/laptops">Laptops</a> | <a href="/deals">Deals</a> | <a href="/results">Results</a> | <a href="/stores">Stores</a> ]
<h1>Results</h1>
<p>
    Add or modify a Specification-to-Deal association.
</p>
<p>
  <a href="#" onClick="newResults()">New Spec-to-Deal association</a>
</p>
<div class="button-container">
  <form method="POST" action="/auto-associate">
      <button type="submit">Auto-Associate</button>
  </form>
  <form method="POST" action="/clear-table">
      <button type="submit" onClick="browseResults()">Clear Table</button>
  </form>
</div>

<div id="browse">
    <table border="1" cellpadding="5">
    <tr>
        <th>specsID</th>
        <th>dealID</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.specsID}} -- {{this.specsName}}</td>
        <td>{{this.dealID}} -- {{this.laptopName}} -- {{this.price}}</td>
        {{!-- <td>{{this.specsName}}</td>
        <td>{{this.laptopName}}</td>
        <td>${{this.price}}</td> --}}
        <td><a href="#" onClick="updateResults('{{this.specsID}}', '{{this.dealID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteResults('{{this.specsID}}', '{{this.dealID}}')">Delete</a></td>
    </tr>
    {{/each}}
    </table>
    <p><a href="#" onClick="showAll()">Display all forms</a></p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="addResult" action="/addResult">
        <legend><strong>Create a new association</strong></legend>
        <fieldset class="fields">
            <label for="specsID">specsID</label>
            <select name="specsID" id="specsID">
                {{#each specs}}
                <option value="{{this.specsID}}">{{this.specsID}} -- {{this.specsName}}</option>
                {{/each}}
            </select>
        
            <label for="dealID">dealID</label>
            <select name="dealID" id="dealID">
                {{#each deals}}
                <option value="{{this.dealID}}">{{this.dealID}} -- {{this.laptopName}} -- {{this.price}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" value="add">
        <input class="btn" type="button" value="cancel" onClick="browseResults()">
    </form>
</div><!-- insert -->

<div id="update">
    <form method="POST" id="UpdateResults" action="/updateResult">
        <legend><strong>Edit an association</strong></legend>
        <fieldset class="fields">
            <input type="hidden" name="originalSpecsID" id="original-specID">
            <input type="hidden" name="originalDealID" id="original-dealID">
            <label for="specsID">specsID</label>
            <select name="specsID" id="update-specID">
                {{#each specs}}
                <option value="{{this.specsID}}">{{this.specsID}} -- {{this.specsName}}</option>
                {{/each}}
            </select>
            <label for="dealID">dealID</label>
            <select name="dealID" id="update-dealID">
                {{#each deals}}
                <option value="{{this.dealID}}">{{this.dealID}} -- {{this.laptopName}} -- {{this.price}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" value="save">
        <input class="btn" type="button" value="cancel" onClick="browseResults()">
    </form>
</div><!-- update -->

<div id="delete" style="display: none">
    <form method="POST" id="deleteResults" action="/deleteResult">
        <legend><strong>Delete an association</strong></legend>
        <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="ResultsID" id="deleteResultsID">
            <label for="delete-specsID">specsID</label>
            <input type="text" name="delete-specID" id="delete-specID" >
            <label for="delete-dealID">dealID</label>
            <input type="text" name="delete-dealID" id="delete-dealID" >
        </fieldset>
        <input class="btn" type="submit" value="Delete Results">
        <input class="btn" type="button" value="cancel" onClick="browseResults()">
    </form>
</div><!-- delete -->

</body>
</html>
